<link
  href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css"
  rel="stylesheet"
/>
<script
  src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"
></script>
<script src="static/schemaorg/schemaorg.js"></script>
<style>
  .ts-control {
    padding: 10px;
    padding-left: 12px;
    input {
      font-size: 14px;
    }
  }
</style>

<div class="bg-base-100 p-6 rounded-box shadow mt-6">
  <h1 class="text-3xl font-bold mb-6">Create schema</h1>
  <span id="classHierarchy" style="display:none"></span>

  <div class="flex items-center space-x-2 mb-4">
    <div class="relative w-full">
      <span
        id="schema-class-loading"
        class="input input-bordered w-full"
      >Loading Schema classes...</span>
      <select
        id="schema-class"
        placeholder="Select a Schema class..."
        autocomplete="off"
        class="hidden"
      >
      </select>

    </div>
    <button type="submit" class="btn btn-success">
      <i class="fas fa-save"></i>
      Create
    </button>
  </div>
</div>
