<style>
  .ts-control {
    padding-left: 0px;
    border-width: 0px;
    flex-wrap: nowrap;
    input {
      font-size: 14px;
      color: inherit;
    }
  }
  .ts-control,
  .ts-wrapper.single.input-active .ts-control,
  .full .ts-control,
  .ts-dropdown,
  .ts-dropdown .active {
    background: inherit;
    border-color: inherit;
    color: inherit;
  }
  .ts-dropdown .active {
    background: var(--color-secondary-content);
  }
  .has-items .ts-control > input {
    margin-left: 0px !important;
  }
</style>

<div class="bg-base-100 p-6 rounded-box shadow">
  <h1 class="text-3xl font-bold mb-6">Search schema</h1>
  <span id="class-hierarchy" style="display:none"></span>

  <div class="flex items-center space-x-2 mb-4">
    <div class="relative w-full">
      <span id="schema-class-loading" class="input input-bordered w-full">
        Loading Schema classes
        <span class="loading loading-ring loading-sm"></span>
      </span>
      <select
        id="schema-class"
        placeholder="Select a Schema class"
        autocomplete="off"
        class="hidden input input-bordered w-full text-base-content"
      >
      </select>

    </div>
    <button onclick="navigateToEditSchemaPage()" class="btn btn-success">
      <i class="fas fa-circle-plus"></i>
      Create
    </button>
  </div>
</div>
<script defer>loadSchemaClasses();</script>
